# Node
npm-debug.log
node_modules/

# SASS
.sass-cache

# Sublime Text
*.sublime-project
*.sublime-workspace

# Website build
build/

# OSX turds
.DS_Store
*.swp
*.lock
profile

# Compass
config.rb

# Ruby
.ruby-gemset
.ruby-version
